@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

$brand-color: #d3a56a;
$brand-color-2: #050505;
$brand-gradient: linear-gradient(to left, #ab834f, #fbc984);
$roboto :  'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;
$poppins : 'Poppins',sans-serif;
$muli : 'Muli',sans-serif;
$rat : 'Montserrat',sans-serif;
$sans-pro:  'Source Sans Pro',sans-serif;
$nunito : 'Nunito', sans-serif;